@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --color-menu-300: oklch(71.51% 0.1 199);
  --color-menu-600: oklch(58.83% 0.1 199);
  --color-menu-800: oklch(37.5% 0.0518 199);
}


@layer yves {
  .grid-col1-3fr {
    @apply shadow-2xl bg-amber-600 text-white text-xs
          grid justify-center items-center m-4 p-3 border-none rounded-2xl
          grid-cols-1;
          grid-template-columns: 100px 1fr 100px;
          @media (width > 48rem) {              /* md: breakpoint */
            grid-template-columns: 200px 1fr 200px;
            @apply border-4 border-red-800 text-sm;
          }
  }
  .attention {
    @apply  font-bold
  }
  a:hover {
    @apply font-extrabold;
  }
}
